{% extends 'layout/main.html' %}

{%block title%}Menus | puretaste{%endblock%}

{%block content%}

  <h1 class="mt-4 mb-4">Menus</h1>

  {% include '../partials/search.html' %}

  {% include 'partials/messages.html'%}
  
  <div class="row mb-4">
    {%for menu in menus%}
        <div class="col-md-3">
          <div class="card card-body">
              <ul class="ms-auto navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="menu-options" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menu-options">
                    <li><a class="dropdown-item" href="{% url 'edit_menu' menu.id %}">Edit</a></li>
                    <li>
                      <a class="dropdown-item" href="#" id="delete-menu" data-id="{{menu.id}}" data-csrftoken="{{ csrf_token }}"> 
                        Delete
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            <img class="img-fluid" src="{{menu.image.url}}"/>
            <div class="text-center fst-italic mt-4">
              <p> <span class="fw-bold">Starter:</span>  {{menu.starter}}</p>
              <p> <span class="fw-bold">Main:</span> {{menu.main}}</p>
              <p> <span class="fw-bold">Dessert:</span> {{menu.dessert}}</p>
            </div>
            <h2 class="text-end"> S./ {{menu.price}}</h2>
          </div>
        </div>
    {%endfor%}
  </div>
  
{%endblock%}