{% extends 'layout/main.html' %}

{%block title%}Menus | puretaste{%endblock%}

{%block content%}

  <h1>Menus</h1>

  {% include '../partials/search.html' %}

  {%for menu in menus%}
    <img src="{{menu.image.url}}"/>
    <p>{{menu.starter}}</p>
    <p>{{menu.main}}</p>
    <p>{{menu.dessert}}</p>
    <p> S./ {{menu.price}}</p>
    <form action="{% url 'delete_menu' menu.id %}" method="POST">{%csrf_token%}
      <button type="submit">Delete</button>
    </form>
    <a href="{% url 'edit_menu' menu.id %}">Edit</a>
  {%endfor%}
{%endblock%}