{% extends 'layout/main.html' %}

{%block title%}New Menu | puretaste{%endblock%}

{%block content%}
<h1>Create a new Menu</h1>
<div>
  <form action="/menus/new/" method="POST">{%csrf_token%}
    <div>
      <input type="text" name="starter" placeholder="Insert starter dish">
    </div>
    <div>
      <input type="text" name="main" placeholder="Insert main dish">
    </div>
    <div>
      <input type="text" name="dessert" placeholder="Insert dessert dish">
    </div>
    <div>
      <input type="string" name="price" placeholder="Insert price">
    </div>
    <button type="submit">Create Menu</button>
  </form>
</div>
{%endblock%}